* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ECEEF1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 32px;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5;
}

ul {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
}

ul li {
  margin-left: 32px;
}

nav {
  background: #000000;
  color: white;
  height: 72px;
}

nav > .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

nav h2 {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.content {
  background: white;
  border-radius: 4px;
  margin-top: 32px;
  padding: 16px 32px 32px 32px;
  width: 100%;
}

.content div {
  border-bottom: 2px solid #ECEEF1;
}

.content h1, h2, h3 {
  margin-top: 16px;
}

.content img {
  display: block;
  margin: 0 auto;
  padding-top: 16px;
}

.content p {
  margin: 16px 0;
}

/* Animations */
main.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

main.ng-enter.ng-enter-active {
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 996px) {
  ul li {
    margin-left: 16px;
  }

  .container {
    width: 90%;
  }

  .container img {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  nav h2 {
    font-size: 18px;
  }
}